@model Stokin.Models.Client

@{
  ViewData["Title"] = "Editar";
}

<h1>Editar cliente</h1>

<hr />
<form asp-action="Edit">
  <input type="hidden" asp-for="Id" />
  <partial name="_ClientData" />
  <div class="form-group mb-3 col-md-4">
    <input type="submit" value="Salvar" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
  </div>
</form>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


